
/* Pantalla de ventas */
.sales-content {
	margin: 0;
	padding: 0;
	clear: both;
	background-color: #95c121;
}

.header-sales{
	text-align: center;
}

.logout {
	position: absolute;
	top: 10px;
	right: 10px;
}


.home-sales {
	text-align: left;
	padding: 15px;
	box-sizing: border-box;
}

.left-side {
	display: inline-block;
	width: 69%;
	vertical-align: top;
}

.product-name {
	text-align: center;
}

.right-side {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.ticket-header {
	text-align: center;
}

.ticket-content {
	text-align: left;
}

.product-item {
	display: inline-block;
	padding: 5px;
	box-sizing: border-box;
	max-width: 200px;
	cursor: pointer;
}

.product-image img{
	max-width: 120px;
	max-height: 120px;
}

#show_modal {
	display: none;
}

.align-center {
	text-align: center;
}

.sale-options{
	padding: 15px;
}

.sale-option {
	display: inline-block;
	text-align: center;
}

.product-price {
	background-color: #95c121;
	border: solid 1px #fff;
	text-align: center;
	cursor: pointer;
	padding: 15px;
	font-weight: bold;
	border-radius: 5px;
}

.product-price:hover {
	background-color: #00aa66;
}

.modal {
	background-color: #999999 !important;
	border: solid 1px #fff;
}

.quantity-selector {
	padding-top: 30px;
}

.selector-up, .selector-down {
	background-color: #fff;
	padding: 5px;
	width: 15px;
	margin: 0 auto;
	border-radius: 3px;
	cursor: pointer;
}

.current-selected {
	font-weight: bold;
	padding: 5px;
}

.ok-button {
	position: relative;
	width: 30px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.btn {
	padding: 15px;
	border-radius: 15px;
	background-color: #5cb16e;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	color: black;
}

.btn:hover {
	background-color: #cec7c7;
	color: black;
}

.login-form {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.login-fields {
	padding: 15px;
	background-color: #f2f2f2;
	border-radius: 10px;
	display: inline-block;
}

button.active {
	background-color: #72aed0;
}